<!--
   If you want to debug nodes or run the process in a different window:
   http://wiki.ros.org/roslaunch/Tutorials/Roslaunch%20Nodes%20in%20Valgrind%20or%20GDB
-->
<launch>
  <!-- Nodelet Manager Camera Top -->
  <node pkg="nodelet" type="nodelet" name="nodelet_manager_top" args="manager"/>

  <!-- Nodelet Manager Camera Bottom -->
<!--  <node pkg="nodelet" type="nodelet" name="nodelet_manager_bottom" args="manager"/>
-->

   <!-- UVCCam Nodelet Top -->
<!--
   <node pkg="nodelet" type="nodelet" name="camTop" args="load cam_nodelet/UVCCamNode nodelet_manager_top">
     <rosparam file="$(find hyve_camera_common)/param/config_Microsoft_Lifecam_Cinema.yaml"/>
   </node>
-->
   <!-- UVCCam Nodelet Bottom-->
   <node pkg="nodelet" type="nodelet" name="camTop" args="load hiwr_camera_controller/HiwrCameraControllerNodelet nodelet_manager_top">
      <rosparam file="$(find hiwr_camera_controller)/param/config_Microsoft_Lifecam_Cinema.yaml"/>
   </node>



 <!-- Scanner -->
<!--
 <node pkg="nodelet" type="nodelet" name="scanner_1" args="load scanner_nodelet/Scanner_node nodelet_manager_bottom">
    <param name="video_stream" type="str" value="/camBottom/output_video" />
    <rosparam file="$(find hyve_scanner_nodelet)/param/config_Scanner.yaml"/>
 </node>
-->

<!-- Bar Code -->
<!--
   <node pkg="nodelet" type="nodelet" name="bar_code_1" args="load hiwr_code_scanner/Hiwr_code_scanner nodelet_manager_bottom">
     <param name="video_stream" type="str" value="/camBottom/output_video" />
     <rosparam file="$(find hyve_bar_code_nodelet)/param/config_Bar_Code.yaml"/>
   </node>
-->

<!-- Debug Display -->
<!--    <node pkg="nodelet" type="nodelet" name="debug_display" args="load display_nodelet/Display_node nodelet_manager_bottom">
        <param name="video_stream" type="str" value="/camBottom/output_video" />
    </node>
-->
</launch>
